.activityGraphContainer {
  border: 0.1rem solid var(--border-color);
  border-radius: var(--border-radius);
  box-shadow: 0.1rem 0.1rem 1rem var(--border-color);
  padding: 1.5rem;
  max-width: max-content;
}

.colorsIndicator {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: flex-end;
  padding-top: 2rem;
}

.colorsIndicator p {
  font-size: 1.1rem;
  font-weight: 500;
  padding: 0 0.5rem;
}

.color {
  height: 1.5rem;
  width: 1.5rem;
}
