.errorContainer {
  max-width: max-content;
  margin: 0 auto;
  border: 0.1rem solid var(--border-color);
  border-radius: var(--border-radius);
  box-shadow: 0.1rem 0.1rem 1rem var(--border-color);
  padding: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 4rem;
}
